@import '../../styles/variables';

.c-bb-block {
  display: block;
  width: $box-size;
  height: $box-size;
  max-height: $max-box-size;
  max-width: $max-box-size;
  background-color: white;
  border: 1px solid black;
  font-family: sans-serif;
  font-size: $font-size;

  &--called {
    background-color: yellow;
  }

  &--last-called {
    animation: blink 750ms infinite;
  }
}

@keyframes blink {
  0% {
    background-color: white;
  }

  50% {
    background-color: yellow;
  }

  100% {
    background-color: white;
  }
}
